
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Dice Roll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .navbar {
        display: flex;
      	justify-content: space-around;
      }
    </style>
    
  </head>

  <body>

    <h1>1d20</h1>

<ul>
    <li><%= @roll %></li>
</ul>


  </body>
</html>
